@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&family=Fredericka+the+Great&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
.container{
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    /*width: 100vw;*/
    /*height:100vh;*/
    border: 1px solid black;
    padding: 20px;
    box-shadow: 0px 1px 0px, 0px 0px 7px black;
    grid-template-columns:
    1fr        2fr      1fr;
    grid-template-areas:
    "heady     heady    heady"
    "navvy     navvy    navvy"
    "mainy     mainy    mainy"
    "footy     footy    footy";
}

h2{
    font-family:'Fredericka The Great';
    font-size:24pt;
    margin-top:40px;
}
body{
    font-family:'Nunito';
    font-size: 1.2em;
}


h3{
    font-family:'Delicious Handrawn';
    font-size:24pt;
}

nav ul li{
    list-style: none;
    margin-left:50px;
    margin-right:20px;
}

nav{
    width:1200px;
    height:50px;
    /*background-image: url("./img/DBBD_black_checker.jpg");*/
    background-image: url(../img/DBBD_blue_checkers.jpg);
    background-size: cover;
    background-position: center;
    margin-top:-10px;
    margin-bottom:20px;
    border-radius:10px;
    text-align:center;
    margin-left:-19px;
    /*margin-top:60px;*/
    box-shadow:0px 3px 0px, 0px 0px 7px black;
    grid-area:navvy;
    position:sticky;
    top:0;
    border: 3px solid black;
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:1rem;
}

nav ul{
    display:flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}
.sr-only {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

header{
    grid-area:heady;
    text-align: center;
    margin-top:-20px;
}
main{
    grid-area:mainy;
    max-width:100ch;
    margin: auto 100px;
}

figure{
    margin-top:-250px;
}

figure img{
    box-shadow: 0px 1px 0px, 0px 0px 7px black;
    border-radius:10px;   
}

nav ul li a{
    text-decoration: none;
    font-weight: 700;
    font-size: 1.4em;
    padding-left:0.5em;
    padding-right:0.5em;
    padding-top:0.25em;
    padding-bottom:0.25em;
    line-height:normal;
    font-family: monospace;
    box-shadow: 0px 1px 0px, 0px 0px 7px black;
}
nav ul li a:link {
    color:white;
    font-size:18pt;
    background: black;
    border-radius:10px;
    padding:15px;
}

nav ul li a:hover{
    color:black;
    background:white;
}

nav ul li a.currentPage{
    background-color:white;
    color:black;
}

#redbike{
    margin-top:0;
    margin-left:800px;
}

#bluebike{
    margin-top:50px;
    margin-left:500px;
    margin-bottom:-75px;
}