@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&family=Fredericka+the+Great&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
.container{
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 100px;
    display: grid;
    /*width: 100vw;*/
    /*height:100vh;*/
    border: 1px solid black;
    padding: 20px; /* 20px */
    box-shadow: 0px 1px 0px, 0px 0px 7px black;
    grid-template-columns:
    1fr        2fr      1fr;
    grid-template-areas:
    "heady     heady    heady"
    "navvy     navvy    navvy"
    "aside1     mainy    aside2"
    "footy     footy    footy";
}

h2{
    font-family:'Fredericka The Great';
    font-size:24pt;
    margin-top:40px;
}
body{
    font-family:'Nunito';
    font-size: 12pt;
}


h3{
    font-family:'Delicious Handrawn';
    font-size:24pt;
}

nav ul li{
    list-style: none;
    margin-left:50px;
    margin-right:20px;
}

nav{
    width:1200px;
    height:50px;
    background-image: url(../img/DBBD_blue_checkers.jpg);
    background-size: cover;
    background-position: center;
    margin-top:-10px;
    margin-bottom:20px;
    border-radius:10px;
    text-align:center;
    margin-left:-19px;
    box-shadow:0px 3px 0px, 0px 0px 7px black;
    grid-area:navvy;
    position:sticky;
    top:0;
    border: 3px solid black;
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:1rem;
    z-index:10;
}

nav ul{
    display:flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}
.sr-only {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

header{
    grid-area:heady;
    text-align: center;
    margin-top:-20px;
}
main{
    grid-area:mainy;
    max-width:100ch;
    /*margin: auto 100px;*/
}

main.noAsides{
    margin-left:-200px;
    margin-bottom:50px;
}

figure{
    margin-top:-250px;
}

figure img{
    box-shadow: 0px 1px 0px, 0px 0px 7px black;
    border-radius:10px;   
}

nav ul li a{
    text-decoration: none;
    font-weight: 700;
    font-size: 1.4em;
    padding-left:0.5em;
    padding-right:0.5em;
    padding-top:0.25em;
    padding-bottom:0.25em;
    line-height:normal;
    font-family: monospace;
    box-shadow: 0px 1px 0px, 0px 0px 7px black;
}
nav ul li a:link {
    color:white;
    font-size:18pt;
    background: black;
    border-radius:10px;
    padding:15px;
}

nav ul li a:hover{
    color:black;
    background:white;
}

nav ul li.pages a:hover{
    color:black;
    background:white;
}

nav ul li a.currentPage{
    background-color:white;
    color:black;
}

nav ul li a:visited{

    background:black;
    color:white;
}

nav ul li a.currentPage:visited{

    background: white;
    color:black;
}

#redbike{
    margin-top:0;
    margin-left:800px;
}

#bluebike{
    margin-top:50px;
    margin-left:500px;
    margin-bottom:-75px;
}

#bgToggle{
    background:none;
    border:none;
}

#bgToggle:hover{
    cursor:pointer;
}

ul#episodesList li{
    list-style:none;
    font-size: 1.5em;
   /* margin-top: 50px;
    margin-left: 14vw;*/
    margin-left:-40px;
    position:relative;
    padding:5px;
    margin-bottom:40px;
    /*margin-left:-40px;*/
    z-index:9;
    /*background-image:url(../img/DBBD\ -\ Episodes\ Page.svg);
    background-size:contain;
    background-position: center;*/

}

ul#episodesList{
    text-align:center;
    margin-top:-425px;
    z-index:9;
    margin-left:-125px;
}

ul#episodesList li a:link{
    text-decoration: none;
    border: 3px dashed black;
    padding:0px 5px;
    color:blueviolet;
    z-index: 9;
}

ul#episodesList li a:hover{
    border: 3px solid black;
    font-size:1.2em;
    z-index: 9;
}

h2#episodesPageTitle{

    border: 2px solid black;
    padding: 10px;
    text-align: center;
    margin-left:-100px;
}

#blueTire{
    margin-top:100px;
    margin-left:30px;
}

#flag{
    position:relative;
    margin-top:-200px;
    margin-bottom:30px;
    margin-left:-75px;
    z-index:0;
}

#helmet{
    z-index:1;
    margin-top:70px;
    margin-left:40px;
    width:150px;
}

#corner{
    width:700px;
    position:relative;
    margin-left:-400px;
    z-index:0;
}

.aside1{
    grid-area:aside1;
}
.aside2{
    grid-area:aside2;
}

iframe{
    border-radius: 24px;
    border: black;
    z-index:8;
}

ul p.activeDesc, ul p.activeDescTitle{
    color:white;
}

#episodeBG{
    z-index:-1;
    width:840px;
    margin-left:-100px;
}

ul#episodesList #transcript{
    width:50px;
}
.bikes{
    z-index:-1;
}



@media screen and (max-width:1200px){
    .container{
        max-width:90vw;
        grid-template-columns:
            1fr     1fr;
        grid-template-areas:
            "heady   heady"
            "navvy   navvy"
            "mainy   mainy"
            "footy  footy";
    }

    nav{
        width:90vw;
        text-align:center;
    }

    /*.bikes{
        border: 0;
        clip: rect(0, 0, 0, 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        white-space: nowrap;
        width: 1px;
    }*/

    figure{
        margin-top:30px;
    }

    #banner{
        max-width:90vw;
    }

    figure{
        max-width:90vw;
    }

    ul#episodesList li{
        list-style:none;
        font-size: 1.4em;
        margin-top: 50px;
        margin-left: 5vw;
    }

    ul#episodesList{
        margin-top: 50px;
    }

    ul#episodesList li a:hover{
        font-size:1.0em;
    }

}

@media screen
and (max-width: 800px){
    .container {
        border:none;
        box-shadow:none;
        max-width:100vw;
        margin:none;
        margin-left:0;
        grid-template-columns:
           1fr;
        grid-template-areas:
          "heady"
          "navvy"
          "mainy"
          "footy";
    }

    nav{
        flex-flow: column nowrap;
        height:70vh;
        width:90vw;
        position:relative;
        background:none;
        margin:none;
        justify-content: space-around;
        align-items:center;
    }

    nav ul{
        display:flex;
        flex-flow:column nowrap;
        margin-bottom:-50px;
    }

    nav ul li{
        margin-top:20px;
        margin-left:0;
        margin-right:0;
        padding:40px;
        padding-bottom:30px;
    }

    nav ul li a:link {
        color:white;
        font-size:18pt;
        background: black;
        border-radius:10px;
        padding:30px;
    }
    nav ul li a.currentPage{
        background-color:white;
        color:black;
    }
    #bgToggle{
        margin-left:50px;
        margin-bottom:-140px;
        margin-top:-40px;
    }
    #banner{
        margin-left:0vw;
    }

    main{
        margin:0;
        max-width:90vw;
    }
    figure img{
        max-width:90vw;
    }
    figure{
        margin-left:-10px;
    }
}